<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-3.0.xsd
			http://www.springframework.org/schema/util
			http://www.springframework.org/schema/util/spring-util-3.0.xsd"
			default-init-method="init"
			default-destroy-method="destroy">
	
	<!-- Table name resolvers -->
    <bean id="partRecReportTableNameResolver" class="services.tman.resolver.PartRecReportTableNameResolver">
    	<property name="filenameReportTableMapping" ref="partrecFilenameReportTableMapping" />
    </bean>
    
    <bean id="tmtaReportTableNameResolver" class="services.tman.resolver.TMTAReportTableNameResolver">
    	<property name="filenameReportTableMapping" ref="tmtaFilenameReportTableMapping" />
    </bean>
    
    <import resource="spring-mappings.xml" />
	
	<!-- JDBC -->
	<context:property-placeholder location="jdbc.properties"/>
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
    
    <bean id="jdbcTerritoryManagerDao" class="services.tman.dao.JdbcTerritoryManagerDao">
    	<property name="dataSource" ref="dataSource" />
    	<property name="schemaName" value="TM2STG" />
    	<property name="ignoreColumns">
    		<list>
    			<value>DATA_MARKER</value>
    		</list>
    	</property>
    </bean>
    
    <bean id="fileProcessorUtil" class="services.tman.control.TMANFileProcessorUtil" factory-method="getInstance">
    	<property name="tableNameResolverFactory" ref="tableNameResolverFactory" />
    </bean>
    
    <bean id="tableNameResolverFactory" class="services.tman.resolver.TMANReportTableNameResolverFactory" factory-method="getInstance">
    	<property name="fileExtensionResolverMapping" ref="fileExtensionResolverMapping" />
    </bean>
    
    <bean id="converter" class="services.tman.converter.DataTypeConverter">
    	<property name="dataDictionary" ref="dataDictionary" />
    	<property name="dateFormat" ref="dateFormat" />
    	<property name="dateEditor">
    		<bean class="org.springframework.beans.propertyeditors.CustomDateEditor">
    			<constructor-arg index="0" ref="dateFormat" />
    			<constructor-arg index="1" value="true" />
    		</bean>
    	</property>
    	<property name="dateEditorOverrides">
    		<map>
    			<entry key="MONTHLY_DISB_AND_RETURNS_IMR.TRANSACTION_DATE" value-ref="customDateEditorOverrideForMMddyyFormat" />
    			<entry key="MONTHLY_DISB_AND_RETURNS_IMR.PROCESS_DATE" value-ref="customDateEditorOverrideForMMddyyFormat" />
    			<entry key="MONTHLY_QUANTITY_ADJUSTMENT_IMR.TRANS_DATE" value-ref="customDateEditorOverrideForMMddyyFormat" />
    			<entry key="MONTHLY_RECEIPT_ACTIVITY_IMR.TRANSACTION_DATE" value-ref="customDateEditorOverrideForMMddyyFormat" />
    			<entry key="MONTHLY_RECEIPT_ACTIVITY_IMR.PROCESS_DATE" value-ref="customDateEditorOverrideForMMddyyFormat" />
    			<entry key="MONTHLY_RECCOMENDED_ADDS_IMR.DATE_LAST_DEMAND" value-ref="customDateEditorOverrideForMMddyyFormat" />
    			<entry key="MONTHLY_RECCOMENDED_ADDS_IMR.DATE_OF_BIRTH" value-ref="customDateEditorOverrideForMMddyyFormat" />
    			<entry key="MONTHLY_RECCOMENDED_RETURNS_IMR.DATE_LAST_DEMAND" value-ref="customDateEditorOverrideForMMddyyFormat" />
    			<entry key="MONTHLY_RECCOMENDED_RETURNS_IMR.DATE_OF_BIRTH" value-ref="customDateEditorOverrideForMMddyyFormat" />
    			<entry key="MONTHLY_STOCK_STATUS_IMR.DATE_LAST_ACTIVITY" value-ref="customDateEditorOverrideForMMddyyFormat" />
    			<entry key="MONTHLY_STOCK_STATUS_IMR.DATE_LAST_DEMAND" value-ref="customDateEditorOverrideForMMddyyFormat" />
    			<entry key="MONTHLY_MINUS_ON_HAND_IMR.TRANSACTION_DATE" value-ref="customDateEditorOverrideForMMddyyFormat" />
    			<entry key="WEEKLY_RECEIPT_ACTIVITY_IMR.TRANSACTION_DATE" value-ref="customDateEditorOverrideForMMddyyFormat" />
    			<entry key="WEEKLY_RECEIPT_ACTIVITY_IMR.PROCESS_DATE" value-ref="customDateEditorOverrideForMMddyyFormat" />
    			<entry key="WEEKLY_RECCOMENDED_ADD_IMR.DATE_LAST_DEMAND" value-ref="customDateEditorOverrideForMMddyyFormat" />
    			<entry key="WEEKLY_RECCOMENDED_ADD_IMR.DATE_OF_BIRTH" value-ref="customDateEditorOverrideForMMddyyFormat" />
    			<entry key="WEEKLY_RECOMMENDED_RETURNS_IMR.DATE_LAST_DEMAND" value-ref="customDateEditorOverrideForMMddyyFormat" />
    			<entry key="WEEKLY_RECOMMENDED_RETURNS_IMR.DATE_OF_BIRTH" value-ref="customDateEditorOverrideForMMddyyFormat" />
    			<entry key="WEEKLY_DISB_AND_RETURNS_IMR.TRANSACTION_DATE" value-ref="customDateEditorOverrideForMMddyyFormat" />
    			<entry key="WEEKLY_DISB_AND_RETURNS_IMR.PROCESS_DATE" value-ref="customDateEditorOverrideForMMddyyFormat" />
    			<entry key="WEEKLY_MINUS_ON_HAND_IMR.TRANSACTION_DATE" value-ref="customDateEditorOverrideForMMddyyFormat" />
    		</map>
    	</property>
    	<property name="numberFormatOverrides">
    		<map>
    			<entry key="MONTHLY_DISB_AND_RETURNS_IMR.PRICE" value-ref="numberFormatOverrideForDoubleCustomFormat" />
    			<entry key="WEEKLY_RECEIPT_ACTIVITY_IMR.UNIT_PRICE" value-ref="numberFormatOverrideForDoubleCustomFormat" />
    			<entry key="NBO_VIW_VIW.UNIT_PRICE" value-ref="numberFormatOverrideForDoubleCustomFormat" />
    			<entry key="REGULAR_ADJUSTMENT_REPORT_DETAIL_RIR.UNIT_PRICE" value-ref="numberFormatOverrideForDoubleCustomFormat" />
    			<entry key="REGULAR_ADJUSTMENT_REPORT_DETAIL_RIR.EXTENDED_PRICE" value-ref="numberFormatOverrideForDoubleCustomFormat" />
    			<entry key="BRANCH_MANAGER_TOTALS_ASL.ASL_LINES" value-ref="numberFormatOverrideForLongCustomFormat" />
    			<entry key="WEEKLY_RECCOMENDED_ADD_IMR.INTERNAL_VALUE_UP" value-ref="numberFormatOverrideForDoubleCustomFormat" />
    			<entry key="MONTHLY_PRICE_CHANGE_IMR.INTERNAL_VALUE_UP" value-ref="numberFormatOverrideForDoubleCustomFormat" />
    			<entry key="MONTHLY_RECCOMENDED_ADDS_IMR.INTERNAL_VALUE_UP" value-ref="numberFormatOverrideForDoubleCustomFormat" />
    			<entry key="MONTHLY_RECCOMENDED_RETURNS_IMR.INTERNAL_VALUE_UP" value-ref="numberFormatOverrideForDoubleCustomFormat" />
    			<entry key="WEEKLY_RECOMMENDED_RETURNS_IMR.INTERNAL_VALUE_UP" value-ref="numberFormatOverrideForDoubleCustomFormat" />
    			<entry key="BRANCH_MANAGER_SUMMARY_ASL.TOTAL_INV_$" value-ref="numberFormatOverrideForCurrencies" />
    			<entry key="BRANCH_MANAGER_SUMMARY_ASL.ASL_$" value-ref="numberFormatOverrideForCurrencies" />
    			<entry key="BRANCH_MANAGER_SUMMARY_ASL.AGED_1_YR_$" value-ref="numberFormatOverrideForCurrencies" />
    			<entry key="BRANCH_MANAGER_SUMMARY_ASL.AGED_2_YR_$" value-ref="numberFormatOverrideForCurrencies" />
    			<entry key="BRANCH_MANAGER_SUMMARY_ASL.AGED_3_YR_$" value-ref="numberFormatOverrideForCurrencies" />
    			<entry key="BRANCH_MANAGER_TOTALS_ASL.TOTAL_INV_$" value-ref="numberFormatOverrideForCurrencies" />
    			<entry key="BRANCH_MANAGER_TOTALS_ASL.ASL_$" value-ref="numberFormatOverrideForCurrencies" />
    			<entry key="BRANCH_MANAGER_TOTALS_ASL.AGED_1_YR_$" value-ref="numberFormatOverrideForCurrencies" />
    			<entry key="BRANCH_MANAGER_TOTALS_ASL.AGED_2_YR_$" value-ref="numberFormatOverrideForCurrencies" />
    			<entry key="BRANCH_MANAGER_TOTALS_ASL.AGED_3_YR_$" value-ref="numberFormatOverrideForCurrencies" />
    			<entry key="FIELD_MANAGER_SUMMARY_ASL.TOTAL_INV_$" value-ref="numberFormatOverrideForCurrencies" />
    			<entry key="FIELD_MANAGER_SUMMARY_ASL.ASL_$" value-ref="numberFormatOverrideForCurrencies" />
    			<entry key="FIELD_MANAGER_SUMMARY_ASL.AGED_1_YR_$" value-ref="numberFormatOverrideForCurrencies" />
    			<entry key="FIELD_MANAGER_SUMMARY_ASL.AGED_2_YR_$" value-ref="numberFormatOverrideForCurrencies" />
    			<entry key="FIELD_MANAGER_SUMMARY_ASL.AGED_3_YR_$" value-ref="numberFormatOverrideForCurrencies" />
    			<entry key="REGULAR_ADJUSTMENT_REPORT_DETAIL_RIR.EXCLUDED_FROM_GV_$" value-ref="numberFormatOverrideForCurrencies" />
    			<entry key="REGULAR_ADJUSTMENT_REPORT_SUMMARY_RIR.TOTAL_NEGATIVE_DOLLARS" value-ref="numberFormatOverrideForNegativeDoubleCustomFormat" />
    		</map>
    	</property>
    </bean>
    
    <bean id="dateFormat" class="java.text.SimpleDateFormat">
		<constructor-arg index="0" value="yyyy-MM-dd" />
	</bean>
	
	<bean id="customDateEditorOverrideForMMddyyFormat" class="org.springframework.beans.propertyeditors.CustomDateEditor">
		<constructor-arg index="0">
			<bean class="java.text.SimpleDateFormat">
				<constructor-arg index="0" value="MMddyy" />
			</bean>
		</constructor-arg>
		<constructor-arg index="1" value="true" />
	</bean>
	
	<bean id="numberFormatOverrideForDoubleCustomFormat" class="java.text.DecimalFormat">
		<constructor-arg index="0" value="#,###.###" />
	</bean>
	
	<bean id="numberFormatOverrideForNegativeDoubleCustomFormat" class="java.text.DecimalFormat">
		<constructor-arg index="0" value="#,###.###;#,###.###-" />
	</bean>
	
	<bean id="numberFormatOverrideForLongCustomFormat" class="java.text.DecimalFormat">
		<constructor-arg index="0" value="#,###" />
	</bean>
	
	<bean id="numberFormatOverrideForCurrencies" class="java.text.NumberFormat" factory-method="getCurrencyInstance">
		<constructor-arg index="0">
			<util:constant static-field="java.util.Locale.US"/>
		</constructor-arg>
	</bean>
    
    <!-- TMAN File processors -->
    
    <bean id="tmtaFileProcessor" class="services.tman.control.TMTAFileProcessor">
    	<property name="dao" ref="jdbcTerritoryManagerDao" />
    	<property name="util" ref="fileProcessorUtil" />
    	<property name="inputDirectoriesToProcessedFilesDirectories">
    		<map>
    			<entry key="C:\TMTA_flat_files" value="C:\TM2_TMTA_Files\TMTA_Processed_Files" />
    			<entry key="C:\TMTA_Canada_Input" value="C:\TM2_TMTA_Files\TMTA_Processed_Files" />
    		</map>
    	</property>
    	<property name="inputDirectoriesToInvalidFilesDirectories">
    		<map>
    			<entry key="C:\TMTA_flat_files" value="C:\TM2_TMTA_Files\TMTA_Invalid_Files" />
    			<entry key="C:\TMTA_Canada_Input" value="C:\TM2_TMTA_Files\TMTA_Invalid_Files" />
    		</map>
    	</property>
    	<property name="dateFormat">
    		<bean class="java.text.SimpleDateFormat">
    			<constructor-arg value="yyyy-MM-dd" />
    		</bean>
    	</property>
    	<property name="converter" ref="converter" />
    </bean>
    
    <bean id="partrecFileProcessor" class="services.tman.control.PartRecFileProcessor">
    	<property name="dao" ref="jdbcTerritoryManagerDao" />
    	<property name="util" ref="fileProcessorUtil" />
    	<property name="inputDirectoriesToProcessedFilesDirectories">
    		<map>
    			<entry key="C:\PartRec_Input" value="C:\TM2_PartRec_Files\PartRec_Processed_Files" />
    			<entry key="C:\PartRec_Canada_Input" value="C:\TM2_PartRec_Files\PartRec_Canada_Processed_Files" />
    		</map>
    	</property>
    	<property name="inputDirectoriesToInvalidFilesDirectories">
    		<map>
    			<entry key="C:\PartRec_Input" value="C:\TM2_PartRec_Files\PartRec_Invalid_Files" />
    			<entry key="C:\PartRec_Canada_Input" value="C:\TM2_TMTA_Files\PartRec_Canada_Invalid_Files" />
    		</map>
    	</property>    	
    	<property name="dateFormat">
    		<bean class="java.text.SimpleDateFormat">
    			<constructor-arg value="MMddyyy" />
    		</bean>
    	</property>
    	<property name="converter" ref="converter" />
    	<property name="columnHeaderToColumnNameMapping" ref="columnHeaderToColumnNameMapping" />
    	<property name="userActions"> <map></map> </property>
    </bean>
    
    <!-- Quartz -->
    <util:properties id="dataDictionary" location="datadictionary.properties" />
	<bean name="flatFileProcessorJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass" value="services.tman.job.FlatFileProcessorJob" />
		<property name="jobDataAsMap">
			<map>
				<entry key="processors">
					<list>
						<ref bean="tmtaFileProcessor" />
						<ref bean="partrecFileProcessor" />
					</list>
				</entry>
			</map>
		</property>
	</bean>
	
	<bean id="simpleTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<property name="jobDetail" ref="flatFileProcessorJob" />
		<property name="repeatInterval" value="600000" />
		<property name="startDelay" value="5000" />
	</bean>
	
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="jobDetails">
		   <list>
				<ref bean="flatFileProcessorJob" />
		   </list>
		</property>
		<property name="triggers">
		    <list>
				<ref bean="simpleTrigger" />
		    </list>
		</property>
	</bean>
</beans>